{{- $gitName := promptStringOnce . "gitName" "Git name" | trim -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git email" | trim -}}
{{- if or (not $gitName) (not $gitEmail) -}}
{{- fail "Git name and email must not be empty" -}}
{{- end -}}
sourceDir = {{ .chezmoi.workingTree | quote }}
lessInteractive = true

[data]
gitName = {{ $gitName | quote }}
gitEmail = {{ $gitEmail | quote }}
{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo", "-NoProfile", "-File"]
{{ end -}}
